.search {
  width: 80%;
  min-width: min-content;
  text-align: center;
  font-size: 20px;
}

.card {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card img {
  width:150px;
  height:150px;
  object-fit: cover;
  border-radius: 50%;
}

.card table {
  margin-top: 1em;
  width: 100%;
  text-align: left;
}

.card table td {
  padding: 0 0.5em;
  
}

.card table td:first-child {
  text-align: right;
  font-weight:bold;
}

.card table tr.languages td {
  vertical-align: top;
  padding-top: 1em;
}

.card table tr.languages td ul {
  padding: 0;
  margin: 0;
  list-style: none;
}